# Build files
/dist/
/resources/styles/theme/_sprite.scss
/resources/styles/shared/_config.scss

# Development files
/config.json

# Build modules
node_modules/

# Yarn
/yarn-error.log

# Composer packages
/vendor/

# sami docs
api-reference/

# PHPCS
/phpcs.xml

# PHPUnit
/phpunit.xml
/tests/_reports

# NPM lockfile as it causes more problems than it solves
package-lock.json

# Sami
/sami.phar

# Common
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea
