# Build files
/dist/
/resources/styles/theme/_sprite.scss
/resources/styles/shared/_config.scss

# Development files
/config.json
phpstan-phpqa.neon

# Build modules
/node_modules/

# Yarn
/yarn-error.log

# Composer packages
/vendor/

# PHPUnit
/.phpunit.result.cache
/phpunit.xml
/tests/_reports

# NPM lockfile as it causes more problems than it solves
/package-lock.json

# Common
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea

# Created by https://www.gitignore.io/api/visualstudiocode
# Edit at https://www.gitignore.io/?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/visualstudiocode
